body{
		width:100%;
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

.header {
  height:100px;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-position:fixed;
  padding-bottom:50px;
}
.header h1{
	color:white;
	font-family:"Times New Roman", Times, serif;
    font-size:28px;
    text-shadow: 2px 2px #0000ff;
}
.header h4{
	color:white;
	font-size:15px;
	font-family:"Times New Roman", Times, serif;
    text-shadow: 2px 2px #0000ff;
}

}

  .navbar-brand img:hover{
	  opacity:0.5;
  }
/*navigation bar*/
 .my-navbar {
 
  background-color: white;
  border-color: #425766;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
 
}
 
.my-navbar .navbar-brand {
  color: #fff;
  margin: 10 0 10px; 
}
 
.my-navbar .navbar-brand:hover, .my-navbar .navbar-brand:focus {color: #AAD5FF;}
 
.my-navbar .navbar-text {color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > a {
  color: black;
  font-size:16px;
  font-family:"Times New Roman", Times, serif;
  }
 
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #b366ff;}
 
.my-navbar .navbar-nav > li > .dropdown-menu {
 background-color: #2894FF;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #004182;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;}
 
.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbar .navbar-nav > .active > a:focus {
 
  color: 	 #aa80ff;
 
  background-color: #661aff	;
 
}
 
.my-navbar .navbar-nav > .open > a, .my-navbar .navbar-nav > .open > a:hover, .my-navbar .navbar-nav > .open > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle {
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.my-navbar .navbar-collapse,
 
.my-navbar .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.my-navbar .navbar-link {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-link:hover {
 
  color: 	 #aa80ff;
 
}

 
 
@media (max-width: 700px) {
	
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
  
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}
    

.responsive {
  max-width: 100%;
  height:auto;
}
@media screen and (max-width: 700px) {
     .responsive {
  max-width: 100%;
  height:auto;
} 
}

 
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  .affix + .container-fluid {
    padding-top:50px;
  }


.box {
  display:inline-block;
  width:154px;
  height:54px;
  box-shadow: 1px 1px 2px gray;
  margin:3px;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:auto;
 
}
.container-fluid{
	width:100%;
	margin-top:20px;
}

.box:hover .image  {
  opacity: 0.3;
}
.box:hover {
  opacity: 0.3;
}
.box:hover  {
  opacity: 0.3;
}
.box:hover .middle {
  opacity: 5;
}

.text {
  background-color: white;
  color: green;
  font-size: 16px;
  padding: 16px 32px;
}

.box:hover {
  opacity: 0.3;
}

.box:hover {
  opacity: 1;
}

.download_text{
	text-align:right;
	color:white;
	background-color:gray;
	font-family:"Times New Roman", Times, serif;
	padding-left:2px;
	padding-right:2%;
    margin-bottom:0px;
    margin-top:20px;
}

/*logoSlider*/

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
	margin-top:10px;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}

.nbs-flexisel-inner .box{
	
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 5px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   
    background: rgba(0,0,0,0.5);
    color: #fff;  
	
}

.nbs-flexisel-nav-left {
    left: 0px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 0px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
/**CSS for Mobile view*********************************************************************/
@media screen and (max-width: 700px) {

.container-fluid{
	padding-top:20px;
	margin-top:50px;
}
.header {
  display:none;
}
 /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  .affix + .container-fluid {
    padding-top:10px;
  }
  .my-navbar {
 
}
}