body{
		width:100%;
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

.header {
  height:auto;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-position:fixed;
  padding:5px;
}
.header h1{
	color:white;
	font-family:"Times New Roman", Times, serif;
    font-size:28px;
    text-shadow: 2px 2px #0000ff;
}
.header h4{
	color:white;
	font-size:15px;
	font-family:"Times New Roman", Times, serif;
    text-shadow: 2px 2px #0000ff;
}

}

  .navbar-brand img:hover{
	  opacity:0.5;
  }
/*navigation bar*/
 .my-navbar {
  background-color: white;
  border-color: #425766;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
 
}
 
.my-navbar .navbar-brand {
  color: #fff;
  margin: 10 0 10px; 
}
 
.my-navbar .navbar-brand:hover, .my-navbar .navbar-brand:focus {color: #AAD5FF;}
 
.my-navbar .navbar-text {color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > a {
  color: black;
  font-size:16px;
  font-family:"Times New Roman", Times, serif;
  }
 
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #b366ff;}
 
.my-navbar .navbar-nav > li > .dropdown-menu {
 background-color: #2894FF;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #004182;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;}
 
.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbar .navbar-nav > .active > a:focus {
 
  color: 	 #aa80ff;
 
  background-color: #661aff	;
 
}
 
.my-navbar .navbar-nav > .open > a, .my-navbar .navbar-nav > .open > a:hover, .my-navbar .navbar-nav > .open > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle {
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.my-navbar .navbar-collapse,
 
.my-navbar .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.my-navbar .navbar-link {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-link:hover {
 
  color: 	 #aa80ff;
 
}

 
 
@media (max-width: 700px) {
	
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
  
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}
    

.responsive {
  max-width: 100%;
  height:auto;
}
@media screen and (max-width: 700px) {
     .responsive {
  max-width: 100%;
  height:auto;
} 
}

 
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
    top:0;
    width: 100%;
    z-index: 99 !important;
  }
  .affix + .container-fluid {
    padding-top:0px;
  }
.socialLogoslider{
	text-align:center;
}



.box {
  
  width:154px;
  height:54px;
  box-shadow: 1px 1px 2px gray;
  margin:3px;
}


/*post box*/
.postBackground {
  background-color:#e6ecff;
}
h2{
	font-family:"Times New Roman", Times, serif;
	color:red;
}
.post {
  display:inline-block;
  width:45%;
  height:auto;
  box-shadow: 1px 1px 2px gray;
  margin:20px;
  margin-top:0px;
  background-color:white;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:auto;
 
}

.box:hover .image  {
  opacity: 0.3;
}
.box:hover {
  opacity: 0.3;
}
.box:hover  {
  opacity: 0.3;
}
.box:hover .middle {
  opacity: 5;
}

.text {
  background-color: white;
  color: green;
  font-size: 16px;
  padding: 16px 32px;
}

.box:hover {
  opacity: 0.3;
}

.box:hover {
  opacity: 1;
}

.download_text{
	text-align:right;
	color:white;
	background-color:gray;
	font-family:"Times New Roman", Times, serif;
	padding-left:2px;
	padding-right:2%;
    margin-bottom:0px;
    margin-top:20px;
}


/**CSS for Mobile view*********************************************************************/
@media screen and (max-width: 700px) {
.box{
	margin-top:60px;
	width:10%;
	height:auto;
}
.image{
	width:80%;
}
.header {
  display:none;
}
.post {
  display:block;
  width:100%;
  height:auto;
  box-shadow: 1px 1px 2px gray;
  margin:3px;
}
 .my-navbar {
 position:fixed;
 width:100%;
 
}
}